<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <h1 class="text-center">Sobre Nós</h1>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>texto</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora.
            </p>
        </div>
        <div class="col-md-6 mb-5">
            <img src="http://source.unsplash.com/500x400/?black" alt="gerador de imagens">
        </div>
    </div>
    <!--row-->
    <div class="row">
        <div class="col-md-6">
            <h1>texto</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora.
            </p>
        </div>
        <div class="col-md-6 mb-5">
            <img src="http://source.unsplash.com/500x400/?black" alt="gerador de imagens">
        </div>
    </div>
    <!--row-->
    <div class="row">
        <div class="col-md-6 mt-5">
            <h1>texto</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium, dolorem quae harum, corrupti
                deserunt ad tenetur nam laborum porro cumque odio nobis nisi ipsa eveniet, possimus blanditiis cum
                tempora.
            </p>
        </div>
        <div class="col-md-6">
            <img src="http://source.unsplash.com/500x400/?black" alt="gerador de imagens">
        </div>
    </div>
    <!--row-->
</div>