<div class="container-fluid d-flex align-items-center">

    <div class="col-md-6 text-white mh-100 fadeInLeftBig">
        <h1 class="fs-54 mx-auto">Seja bem vindo(a)!</h1>
        <hr>
        <p class="fs-18">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et, temporibus ratione
            ipsum veniam sequi delectus aut quasi doloribus nostrum natus! Nostrum similique eius quae. Vel nostrum
            nobis quis quaerat?
        </p>
        <p class="fs-18">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et, temporibus ratione
            ipsum veniam sequi delectus aut quasi doloribus nostrum natus! Nostrum similique eius quae. Vel nostrum
            nobis quis quaerat?
        </p>
        <p class="fs-18">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur et, temporibus ratione
            ipsum veniam sequi delectus aut quasi doloribus nostrum natus! Nostrum similique eius quae. Vel nostrum
            nobis quis quaerat?
        </p>
    </div>

</div>